/* ================================================
  Author: Jeff Carroll
  Class: 
  Purpose Title: 
  Site: 
  Date: 2/5/15
  Email: jdcarroll@fullsail.edu
  Phone: 561.400.0007

/* ================================================
          Color Swatches  
===================================================

  Blue--------------#031047;
  Green-------------#7cae3f;
  Red---------------#a30d33;
  Gray--------------#c3c7c6;

================================================== */

/*=================================================
          Main Elements
===================================================*/

@import url(http://fonts.googleapis.com/css?family=Jura);

.innerWrapper {
    max-width: 1020px;
    margin: 0 auto;
    overflow: auto;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    z-index: 1002;
}

body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    background: url("../images/logos/large_logo.png"),
                url("../images/cta3.jpg");
    background-repeat: no-repeat;
    background-position: center center, top left;
    background-size: 50%, cover;
}

.movedown {
	background-position: center -50%, top left;
}

#baseball, #speed{
    cursor: pointer;
}

#baseball_Links {
    padding-left: 10px;
    clear: both;
}

#baseball_Links li:first-child{
    border-top-left-radius: 5px;
}

#baseball_Links li:last-child{
    border-top-right-radius: 5px;
}

#baseball_Links li {
    background-color: rgba(255,255,255,.8);
    padding: 10px 5px 5px 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#baseball_Links li a {
    text-decoration: none;
    color: #031047;
}

.active {
    background-color: #cccccc;
}

#panel {
    padding-top: 10px;
}

table {
    margin-bottom: 10px;;
    width: 331px;
    margin-left: 10px;
    background-color: rgba(3,16,71,.2);
    color: #ffffff;
    border-collapse: collapse;
}

table tr:nth-child(even){
    background-color: rgba(255,255,255,.8);
    color: #031047;
}

table th {
    background-color: #cccccc;
    color: #031047;
    font-weight: bolder;
    padding: 5px;
}

table td {
    text-align: center;
    padding: 5px;
}

table td a {
    color: #031047;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
    display: none;
}

#modal {
    width: 350px;
    background: #CCC;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50vh;
    left: 50vh;
    margin-top: -200px;
    margin-right: 500px ;
    z-index: 1001;
    display: none;
}

#modal .header {
    background: #333;
    color: #FFF;
    padding: 10px;
}

#modal p{
    margin: 15px;
}

#modal .close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding:5px 10px;
    border:1px solid #ccc;
    cursor: pointer;
    background-color: #a30d33;
}

#user_menu {
    display: none;
    background-color: #ffffff;
    overflow: auto;
}

.iconBox ul li {
    list-style: none;
    float: left;
}

#user_tools input[type="submit"] {
	margin: 5px;
}

#user_menu h2 {
    display: inline;
    float: left;
    margin: 5px;
    line-height: 37px;
}

nav {
    background-color: #031047;
    overflow: auto;
    z-index: 1;
    box-shadow: 1px 1px 5px #000000;
}

nav ul {
    width: 500px;
    margin: 0px auto;

}

nav ul li {
    list-style: none;
    width: 90px;
    float: left;
    text-align: center;

}

nav ul li a {
    text-decoration: none;
    line-height: 40px;
    color: #c3c7c6;
}

nav ul li:hover {
    background-color: #a30d33;

}

nav ul li a:hover {
    color: #031047;
}

.iconBox {
    background-color: rgba(3,16,71,.50);
    width: 60%;
    float: left;
}

.iconBox {
    border-radius: 5px;
}

.iconBox h2 {

    border-bottom: 1px solid #c3c7c6;
    padding-left: 10px;
    color: #c3c7c6;
    font-size: 2em;
}

.iconBox img{
    padding: 50px;
    zoom: 40%;
}


.rightForm {
    float: right;
    width: 32.352941%;
    background-color: rgba(255,255,255,.50);
    border-radius: 5px;
    margin: 0px 15px 15px 15px;
    padding: 15px;
}

#sign_up {
    display: block;
    margin-bottom: 10px;
}

form div {
    margin: 5px;
    overflow: auto;
}

form h2 {
    text-align: center;
    background-color: rgba(255,255,255,.50);
    padding: 5px;
    border-radius: 5px;
}

form label {
    line-height: 30px;
    color: #031047;
    float: left;
    margin: 0;
    display: inline-block;
    text-align: right;
    width: 130px;
}

form input[type="text"],
[type="password"],
[type="email"]{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    float: right;
}

form input[type="submit"] {
    margin: 20px 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    float: right;
    background-color: #031047;
    color: #c3c7c6;
}

form input[type="submit"]:hover {
    background-color: #a30d33;
    color: #031047;
}

#main {
    padding-top: 75px;

}

/*=================================================
          End of Main Elements
===================================================*/

/*=================================================
          Tablet Design
===================================================*/
@media screen and (max-width: 768px) and (min-width: 500px) {



}

/*=================================================
          End of Tablet Design
===================================================*/

/*=================================================
          Mobile Design
===================================================*/

@media screen and (max-width: 499px) {



}

/*=================================================
          End of Mobile Design
===================================================*/